/Cliente/nbproject/private/
/socket/Cliente/nbproject/private/
/socket/Servidor 4/nbproject/private/
/socket7/Cliente/nbproject/private/
/socket7/Servidor1/nbproject/private/
/socket7/Servidor1/build/
/socket/Servidor1/nbproject/private/
/socket/Servidor1/build/
/socket/Cliente/build/
/socket-atualizado/Cliente1/build/
/socket-atualizado/Cliente1/nbproject/private/
/socket-atualizado/Servidor1/build/
/socket-atualizado/Servidor1/nbproject/private/
